.custom-header {
    font-family:'Times New Roman', Times, serif;
    font-size: 450%;
}

.custom-email a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
}

span.evil {
    font-weight: bold;
    color: black;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

span.logo {
    font-family:'Times New Roman', Times, serif;
    font-size: 350%;
    border-style: solid;
    border-radius: 25%;
    padding: 10px 10px 10px 10px;
}

#contact {
    border-style: solid;
    border-width: 2px;
}